* {
    padding: 0px;
    margin: 0px;
}

.form-container {
    background-color: coral;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 10px 3px black;
}

.formdiv {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    
}

.formbuttom {
    /* margin: 30px; */
    padding: 30px;
    
}

.inputstyle {
    width: 300px;
    height: 30px;
    outline: none;
    border: solid 1px #a1a1a1;
    border-radius: 10px;
    
}


.mybuttons {
    color: white;
    font-size: 16px;
    /* background-color:   black; */
    background-image: linear-gradient(to right, #21d4fd, #b721ff );
    width: 100px;
    height: 30px; 
    border: none;
    border-radius: 10px;  

}