* {
    padding: 0px;
    margin: 0px;
}

.form-container {
    background-color: coral;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formdiv {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 400px;
}

